<div class="sec-seven">
  <a href="{{ section.settings.link }}">
<div class="marquee-section">
    <div class="marquee-div">
        <div class="marquee">
          {{ section.settings.textline }}
        </div>
    </div>
</div>
  </a>
</div>
{% schema %}
{
  "name": "job",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "textline",
      "label": "text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "link"
    }
  ],
  "presets": [
    {
      "name": "job"
    }
  ]
}
{% endschema %}